/* The active state when a button is clicked */
.pop-win {
    color: #2ecc71; /* Vibrant Green */
}

.pop-lose {
    color: #e74c3c; /* Sharp Red */
}

.pop-tie {
    color: #f1c40f; /* Amber Yellow */
}

.pop-effect {
	transform: scale(1.15);
}